.main{
    border: 1px solid;
    max-width: 75%;
    margin: auto;
    background-color: aquamarine;
}
.heading{
    /* border: 1px solid; */
    height: auto;  
   
}

    
.banner_image{
    
   content: url(pics/Mustang_banner.jpg);
   width: 100%;
}
.logo{
    border: 1px solid;
    height: 19.5%;
    width: 20%;
    text-align: center;
    float: left;
    content:url(pics/logo.gif);
    }

.headline{
    border: 1px solid;
    width: auto;
    height: 20%;
    text-align: center;
    overflow: auto;  
}

.main_search{
   /* border: 1px solid; */ 
    height: 50px;
}
.main_header{
    height: 100%;
}

li {
    
    text-decoration: none;
    list-style-type: none;
}

#auto{
    font-family: cursive;
    color: indianred;
}

li a{
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}

.nav{
    border: 1px solid;
    height: auto;
    width: auto;
    text-align: center;
}
.colored{
    color: orange;
}
.feedback{
    height: 100px;
}

.search{
     overflow: auto;
    text-align: right;
    
}

.hearder_links{
    width: 46%;
    /* height: auto; */
    /* border: solid; */
    float: left;
}

ul{
    /* border: 1px solid; */
    /* height: 50%; */
    
}
.search_1{
    margin: 20px 10px 0px 0px;
    text-align: center;
}

.sub_heading{
    height: auto;
}

.main_footer{
    
    border: 1px solid;
}
.image_1{
    content:url(pics/ford.jpg);
    height: 41%;
    width: 90%;  
}

.image_2{
    content:url(pics/ford_1.jpg);
    height: 41%;
    width: 97%;  
}

.image_3{
    content:url(pics/ford_2.jpg);
    height: 41%;
    width: 90%;
}
.image_4{
    content:url(pics/ford_3.jpg);
    height: 41%;
    width: 97%;  
} 

.paragraph{
    height: auto;
    width: 90%;
   
}
 .price{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: table-caption;
} 

.main_car{
    height: auto;
    width: auto;
}

.car_pics_1{
    
    float: left;
    /* height: 46%; */
    width: 50%;
    margin: 0px 0px 0px 15px;
}
.car_pics_2{
    
    overflow: auto;
    /* height: 94%; */
    
}
.car_pics_3{
    
    /* height: 46%; */
    width: 50%;
    float: left;
    margin: 0px 0px 0px 15px;
}

.car_pics_4{
    overflow: auto;
    /* height: 78%; */
}

.about{
    text-align: center;
}
.content{
    padding: 1px 15px 1px 15px;
}

.contact_us{
    height: 214px;
}

.contact{
        text-align: center;
    
}

.textarea{
    float: left;
    margin-left: 10px;
    
}

.address{
    float: left;
    margin-right: 20%;
    margin-left: 20%;
    text-align: center;
    
}
.form{
    overflow: auto;
    
}
.feedback_form{
    text-align: center;
}
.location{
    text-align: center;
        
}
.copyright{
    text-align: center;
}

.appointment_form{
    
    text-align: center;
    
}

.readmore{
    text-decoration: none;
}

div.car_pics_1:hover {
    border: 1px solid #777;
}

div.car_pics_2:hover {
    border: 1px solid #777;
}

div.car_pics_3:hover {
    border: 1px solid #777;
}

div.car_pics_4:hover {
    border: 1px solid #777;
}

.cars_1{
    min-height: 75%;
}

.cars_2{
    min-height: 75%;
}


.fa {
    padding: 8px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}


.fa-facebook {
    background: #3B5998;
    color: white;
}


.fa-twitter {
    background: #55ACEE;
    color: white;
}

.social_media{
    text-align: center;
}